textarea {
  min-height: 400px;
}

.email_view {
  background-color: #c5c1c1;
  padding: 10px 4%;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.archive {
  margin-left: auto;
}
